In [2]:
import pandas as pd

In [19]:
sim_data = pd.read_csv('data/sim_full_medal_data.csv').sort_values(by=['Country Code', 'Year']).reset_index(drop=True)
sim_data

,Unnamed: 0,Rank,NOC,Gold,Silver,Bronze,Total,Year,Country Code,Is_Host,Ex-Host,Host Continent,Team Size,Participated Events,Total Events,Total Male Participants,Total Female Participants
0,1522,0.0,Afghanistan,0.0,0.0,0.0,0.0,1936,AFG,0,0,0,16.0,4,129.0,15.0,0.0
1,1540,0.0,Afghanistan,0.0,0.0,0.0,0.0,1948,AFG,0,0,0,25.0,2,136.0,22.0,0.0
2,1584,0.0,Afghanistan,0.0,0.0,0.0,0.0,1956,AFG,0,0,0,12.0,1,151.0,12.0,0.0
3,1653,0.0,Afghanistan,0.0,0.0,0.0,0.0,1960,AFG,0,0,0,16.0,13,150.0,12.0,0.0
4,1674,0.0,Afghanistan,0.0,0.0,0.0,0.0,1964,AFG,0,0,1,8.0,8,163.0,8.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3403,2814,0.0,Zimbabwe,0.0,0.0,0.0,0.0,2012,ZIM,0,0,0,9.0,8,302.0,4.0,3.0
3404,2916,0.0,Zimbabwe,0.0,0.0,0.0,0.0,2016,ZIM,0,0,0,31.0,13,306.0,9.0,21.0
3405,3079,0.0,Zimbabwe,0.0,0.0,0.0,0.0,2020,ZIM,0,0,0,5.0,5,339.0,4.0,1.0
3406,3149,0.0,Zimbabwe,0.0,0.0,0.0,0.0,2024,ZIM,0,0,0,7.0,6,329.0,5.0,2.0
3407,3355,NaN,Zimbabwe,NaN,NaN,NaN,NaN,2028,ZIM,0,0,0,6.0,6,325.0,92.0,61.0

In [30]:
countries = sim_data['Country Code'].unique()

sim_data.loc[2605, 'Total Male Participants'] = 20
sim_data.loc[2605, 'Total Female Participants'] = 15
sim_data.loc[2606, 'Total Male Participants'] = 23
sim_data.loc[2606, 'Total Female Participants'] = 16

for country_name in countries:
    country = sim_data[sim_data['Country Code'] == country_name]

    if country.iloc[-1, 7] != 2028:
        continue

    try:
        country.iloc[-1, 12:17] = country.iloc[-3:-1, 12:17].mean().astype('int64')
    except Exception as e:
        display(country)
        raise

    sim_data[sim_data['Country Code'] == country_name] = country

sim_data

,Unnamed: 0,Rank,NOC,Gold,Silver,Bronze,Total,Year,Country Code,Is_Host,Ex-Host,Host Continent,Team Size,Participated Events,Total Events,Total Male Participants,Total Female Participants
0,1522,0.0,Afghanistan,0.0,0.0,0.0,0.0,1936,AFG,0,0,0,16.0,4,129.0,15.0,0.0
1,1540,0.0,Afghanistan,0.0,0.0,0.0,0.0,1948,AFG,0,0,0,25.0,2,136.0,22.0,0.0
2,1584,0.0,Afghanistan,0.0,0.0,0.0,0.0,1956,AFG,0,0,0,12.0,1,151.0,12.0,0.0
3,1653,0.0,Afghanistan,0.0,0.0,0.0,0.0,1960,AFG,0,0,0,16.0,13,150.0,12.0,0.0
4,1674,0.0,Afghanistan,0.0,0.0,0.0,0.0,1964,AFG,0,0,1,8.0,8,163.0,8.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3403,2814,0.0,Zimbabwe,0.0,0.0,0.0,0.0,2012,ZIM,0,0,0,9.0,8,302.0,4.0,3.0
3404,2916,0.0,Zimbabwe,0.0,0.0,0.0,0.0,2016,ZIM,0,0,0,31.0,13,306.0,9.0,21.0
3405,3079,0.0,Zimbabwe,0.0,0.0,0.0,0.0,2020,ZIM,0,0,0,5.0,5,339.0,4.0,1.0
3406,3149,0.0,Zimbabwe,0.0,0.0,0.0,0.0,2024,ZIM,0,0,0,7.0,6,329.0,5.0,2.0
3407,3355,NaN,Zimbabwe,NaN,NaN,NaN,NaN,2028,ZIM,0,0,0,6.0,5,334.0,4.0,1.0

In [31]:
sim_data.to_csv('data/sim_full_medal_data.csv')